# === .NET build files ===
bin/
obj/
**/bin/
**/obj/

# === Visual Studio ===
.vs/
*.user
*.suo

# === Rider ===
.idea/

# === Logs / temp ===
*.log
*.tlog

# === User-specific ===
*.userosscache
*.sln.docstates

# === Docker volumes ===
docker-compose.override.yml
.env

# === EF Core migration folders (optional) ===
**/Migrations/

# === secrets (nếu có) ===
secrets.json
appsettings.Development.json
firebaseTest.html
appsettings.Secret.json
appsettings.Secret.*.json
Main/appsettings.Secret.*.json
firebase-service-account.json
iosra-e1982-firebase-adminsdk-fbsvc-9956dfeef9.json
# === OS-specific ===
.DS_Store
Thumbs.db

# === Publish output ===
publish/
Main/firebase-service-account.json


# === Local dev ===
.env.local
/docker/local/mysql/init/
/Main.Tests/coverage-report
/Main.Tests/TestResults/5e72eb2d-db95-49cb-9b71-d9714943d7a1
Main/id_ed25519.txt
Main/appsettings.Secret.Development.json
